@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

section{
    height: 100vh;
    width: 100%; 
}

#intro-name{
    color: #ffa304;
    font-size: 1.375rem;
    line-height: 2rem;
    letter-spacing: normal;
    font-family: 'Didact Gothic', sans-serif;
}

#intro-title{
    font-size: 4.875rem;
    line-height: 5.75rem;
    letter-spacing: -1px;
    color: white;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}
@media (max-width: 576px) {  
    #intro-title {font-size: 3rem; line-height: 4rem;}
}
@media (min-width: 576px) {  
    #intro-title {font-size: 3rem; line-height: 4rem;}
}
@media (min-width: 768px) {  
    #intro-title {font-size: 3.5rem; line-height: 4.75rem;}
}
@media (min-width: 992px) { 
    #intro-title {font-size: 4rem; line-height: 5rem;}
}
@media (min-width: 1200px) {  
    #intro-title {font-size: 4.875rem; line-height: 5.75rem;}
}

.scroll-button {
    font-size: 0.75rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    color: rgba(255, 255, 255, 0.3);
}
.line-intro {
    content: "";
    height: 1px;
    width: 4.875rem;
    background-color: #ffa304;
}

.hero-pic{
    /*width: 34.375rem;*/
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 60%;
}