.left-button {
    color: #000000 !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #000000;
    transition: all 0.5s ease;
    position: relative;
    font-size: 13px;
    letter-spacing: .3rem;
}
.left-button:hover {
  background: #000000;
  color: #fff !important;
}

.right-button {
    color: #ffffff !important;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background-color: #000000; 
    border: 2px solid;
    border-color: #000000;
    transition: all 0.5s ease;
    position: relative;
    font-size: 13px;
    letter-spacing: .3rem;
}
.right-button:hover {
    border-color: #ffa304 ;
    background: #ffa304;
    color: #fff !important;
}